*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #002202;
    color: #fff;
}
.card {
    background-color: cornflowerblue;
    width: 100px;
    height: 135px;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #fff;
}
.card:hover {
    cursor: pointer;
}
.cards-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 200px;
    height: 250px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.card-hit {
    opacity: 0;
}
.win-plate {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -250px;
    width: 500px;
    height: 300px;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 10;
    transform: translateY(-100vh);
}
@keyframes goDown {
    /* from {
        transform: translateY(-100vh);
    } */
    to {
        transform: translateY(0);
    }
}
.play-again {

}