*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    background-color: #002202;
    color: #fff;
}
.cards-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards {
    width: 550px;
    display: flex;
    flex-wrap: wrap;
}
.card {
    position: relative;
    width: 120px;
    height: 150px;
    margin: 2px;
    cursor: pointer;
    transform: scale(1);
}
.card:active {
    transform: scale(.95);
    transition: transform 0.2s ease-in-out;
}
.card:hover {
    cursor: pointer;
}
.card.flip{
    transform:rotateY(180deg);
}
.front,
.back {
    width: 100%;
    height: 100%;
    margin: 2px;
    position: absolute
}

.win-plate {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -150px 0 0 -250px;
    width: 500px;
    height: 300px;
    background-color: white;
    color: black;
    text-align: center;
    z-index: 10;
    transform: translateY(-100vh);
    transition: all 1s ease-in-out;
}
.goDown {
    transform: translateY(0);
}
.play-again {

}